- @last_events.each do |event|
  .event{class: event.state}
    %i
      = l event.created_at
    %strong
      = t "airstrip.plane_num", plane_id: event.plane_id
    = surround '[', ']' do
      = t "airstrip.plane_states.#{event.state}"
:coffee
  setTimeout ( ->
    $.get(url: "#{airstrip_path(later_than: @last_events.first.try(:id) || params[:later_than], format: :js)}")
    ), 3000
